body {
	color: rgba(0,0,0,.5);
	background-color: #F7EBEC;
	margin: 0;
	/*fade-in*/
	/*https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*TOP*/
#top {
	height: 100vh;
	width: 100%;
}
/*LOGO*/
.logo {
	display: flex;
	justify-content: center;
}
.logo img {
	width: 4vw;
}

/*NAVBAR*/
#navbar {
	/*Design taken from //*http://www.flatuicolorpicker.com/*/
	overflow: hidden;
	box-shadow: 0em 0.375em 1em .7em rgba(0, 0, 0, 0.1);
}
nav {
	/*centering using flex*/
	display: flex;
	justify-content: center;
	align-content: center;
}
nav a {
	display: inline;
	padding: 3vh;
	color: rgba(0,0,0,.5); 
	font-weight: 800; 
	font-family: Quicksand, sans-serif;
	text-transform: uppercase;
}
nav a:link {
    border-bottom: none;
    text-decoration: none;
}

/*HEADING*/
#heading {
	margin-top: -100px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#heading h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-family: 50px;
	text-transform: uppercase;
	letter-spacing: .3em;
}

/*BUTTONS*/
#start-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -280px;
}
button {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	border-radius: 20px;
	border: 0px;
	background-color: transparent;
	padding: 1.5vh;
	margin: 1vw;
}
button:focus {
	outline: 0;  
}

.active {
	text-decoration: none;
	color: rgba(0,0,0,.5);
	/*Underline Effect*/
	background-image: linear-gradient(120deg, #EACBD2 0%, #EACBD2 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.active:hover {
	background-size: 100% 100%;
}

/*ABOUT*/
#read-more {
	height: 100vh;
	width: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*centering text in the middle*/
	line-height: 1.8;
	margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

#read-more p {
	font-size: 20px;
}

#start-2 {
	width: 100%;
	background-size: 100%;
}